/*
  [changelog] / .changelog
  [changelog.item.NUM] / .changelog-item
  [changelog.item.NUM.heading] / .changelog-heading
  [changelog.item.NUM.version] / .changelog-version
  [changelog.item.NUM.description] / .changelog-description
*/ 

.changelog-item-heading {
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 900;
}
.changelog-item-version {
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 900;
  color: var(--colorScheme6);
}
.changelog-item {
  background-color: var(--colorScheme11);
  border-radius: 5px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.changelog {
  background-color: var(--colorScheme10);
  border-radius: 5px;
  width: 25%;
  display: inline-block;
}