* {
  font-family: Poppins;
  outline: none;
}
::selection,
::-moz-selection {
  background-color: var(--colorScheme4);
}
body {
  background-color: var(--pageBackgroundColor);
  color: var(--pageColor);
  text-align: var(--pageTextAlignment);
}

button:not([conflictoftanks="button.noAnimate"]) {
  border: none;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonColor);
  font-family: var(--buttonFontFamily);
  font-size: 10px;
  padding: var(--buttonPadding);
  border-radius: 10px;
  text-align: var(--buttonTextAlignment);
  transition: border-radius 1000ms;
  animation-name: buttonAnimation;
  animation-direction: alternate-reverse;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  -webkit-animation-name: buttonAnimation;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: buttonAnimation;
  -moz-animation-direction: alternate-reverse;
  -moz-animation-duration: 2500ms;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: buttonAnimation;
  -o-animation-direction: alternate-reverse;
  -o-animation-duration: 2500ms;
  -o-animation-iteration-count: infinite;
}
button[conflictoftanks="button.noAi"]
button:hover {
  border-radius: 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingFontFamily);
  font-weight: 900;
}
input {
  background-color: var(--inputBackgroundColor);
  border: none;
  border-radius: var(--borderRadius1);
  padding: 10px;
  border-width: 5px;
  color: var(--inputColor);
  transition: background-color 2.5s, border-radius 2.5s, border-color 2.5s;
}
input:hover, input:active, input:focus {
  background-color: var(--inputBackgroundColorLighter);
  border-radius: var(--borderRadiusFull);
  border-color: var(--colorScheme3);
}
input::placeholder {
  color: white;
}
a {
  color: #2d872c;
  text-decoration: none;
  transition: color 1s;
}
a:hover, a:active, a:focus {
  color: #2d872c;
}
div#login-popup {
  padding: 5%;
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background-color: var(--colorScheme1);
  border-radius: var(--borderRadius1);
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
}
