* {
  font-family: Poppins;
  outline: none;
}
::selection {
  background-color: var(--colorScheme4);
}
body {
  background-color: var(--pageBackgroundColor);
  color: var(--pageColor);
  text-align: var(--pageTextAlignment);
}
button {
  border: none;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonColor);
  font-family: var(--buttonFontFamily);
  font-size: 10px;
  padding: var(--buttonPadding);
  border-radius: 10px;
  text-align: var(--buttonTextAlignment);
  transition: border-radius 1000ms;
  animation-name: buttonAnimation;
  animation-direction: alternate-reverse;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
}
button:hover {
  border-radius: 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingFontFamily);
  font-weight: 900;
}
input {
  background-color: var(--inputBackgroundColor);
  background-color: var(--inputBackgroundColor);
  border: none;
  border-radius: var(--borderRadius1);
  padding: 10px;
  border-width: 5px;
  color: var(--inputColor);
  transition: background-color 1s, border-radius 2s, border-color 3s;
}
input:hover, input:active, input:focus {
  background-color: #2d872c;
  border-radius: var(--borderRadiusFull);
  border-color: var(--colorScheme3);
}
input:placeholder {
  color: white;
}
a {
  color: #2d872c;
  text-decoration: none;
  transition: color 1s;
}
a:hover, a:active, a:focus {
  color: #2d872c;
}
div#login-popup {
  padding: 5%;
  display: none;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background-color: #095407;
  border-radius: var(--borderRadius1);
}
