/*
  Create variable: --name: value;
  Use variable: var(--name);
*/

:root {
  --colorScheme1: #002500;
  --colorScheme2: #005000;
  --colorScheme3: #007500;
  --colorScheme4: #00a000;
  --colorScheme4: #00c500;
  --colorScheme5: #00f000;
  /******************/
  --borderRadius1: 10px;
  --borderRadiusFull: 1000px;
  /******************/
  --pageBackgroundColor: black;
  --pageColor: white;
  --pagePadding: 10%;
  --pageTextAlignment: center;
  --pageFontFamily: Poppins;
  /******************/
  --buttonBackgroundColor: #005000;
  --buttonBackgroundColorDarker: #002500;
  --buttonColor: white;
  --buttonPadding: 10px;
  --buttonFontFamily: Poppins;
  --buttonTextAlignment: center;
  /******************/
  --headingFontFamily: Montserrat;
  /******************/
  --inputBackgroundColor: #005526;
  --inputBackgroundColorLighter: #005526;
  --inputColor: white;
}